<h1><%= @user.username %> Events</h1>

<h2>Created Events</h2>

<hr>

<% @created_events.each do |event| %>
  <div style="padding-left: 1rem; border: 1px solid black;">
    <h2><%= event.event_name %></h2>
    <%= link_to 'Show details', event_path(event) %><br><br>
  </div>
<% end %>

<br><%= link_to 'Create new event', new_event_path %>

<h2>Attending Events</h2>

<hr>

<%= render partial: 'shared/event_partial' %>
