<h1><%= @event.event_name %></h1>
<p><strong>Summary:</strong> <%= @event.description %></p>
<p><strong>Date:</strong> <%= @event.event_date %></p>
<p>
  <strong>Attendees:</strong>
  <ul style="list-style-type: none;">
    <% @attendees.each do |user| %>
      <li><%= user %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Attend event', new_event_attendee_path(event_id: @event.id) %><br>

<%= render partial: 'shared/login_partial' %>
